<div class="row-fluid" style="margin-top:10px">
	<div class="navbar">
		<div class="navbar-inner">
			<ul class="nav">
				<li><a href="#">test1</a></li>
				<li><a href="#">test1</a></li>
				<li><a href="#">test1</a></li>
			</ul>
		</div>
	</div>
</div>