<div class="row-fluid" style="margin-top:10px">
	<div class="navbar">
		<div class="navbar-inner">
			<ul class="nav">
				<li><a href="#">最新</a></li>
				<li><a href="#">银行</a></li>
				<li><a href="#">商家</a></li>
				<li><a href="#">推荐</a></li>
			</ul>
		</div>
	</div>
</div>